html {
  color: white;
  font-family: $f-pop;
}
.title {
  margin: 0;
  margin-bottom: 64px;
  &-big {
    font-size: 1.99rem;
    color: $c-black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
    margin-bottom: 32px;
  }
  &-litle {
    margin-bottom: 8px;
  }
}

a {
  color: white;
}
