.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.input {
  background-color: white;
  padding: 8px;
  min-width: 360px;
  min-height: 42px;
  border-radius: 15px;
  border: none;

  &-textarea {
    min-height: 145px;
  }
  &-select {
    border-radius: 10px;
    &_form {
      min-width: min-content;
    }
  }
}
